body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('fondo.webp') no-repeat center center fixed;
    background-size: cover;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}


header {
    background-color: rgba(253, 161, 24, 0.7);
    padding: 10px 0;
    width: 100%;
    text-align: center;

}

h1 {
    color: white;
}
.menu {

    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
    margin: 0 15px;
}

.menu a {
    color: white;
    font-weight: bold;
}


.recetas {
    text-align: center;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
}

.recetas h1 {
    color: rgba(255, 153, 0, 0.7);
    margin-bottom: 20px;
}


#recetas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    gap: 20px;
}

.receta {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}

.receta .Nombre,
.receta .Ingredientes,
.receta .Preparacion {
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

#search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    box-sizing: border-box;
}

#search-bar:focus {
    border-color: #ce8128;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


footer {
    background-color: rgba(253, 161, 24, 0.7);
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    width: 100%;
}

.footer-social p {
    margin: 0;
}

.footer-social a {
    color: white;
    margin: 0 10px;
}

.footer-social a:hover {
    color: gray;
}