* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background: url('fondo.webp') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header nav {
    position: absolute;
    top: 10px;
    right: 20px;
}

.menu {
    list-style: none;
    display: flex;
    background-color: rgba(253, 161, 24, 0.7);
}


.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

form#registerForm {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 400px;
    text-align: center;
}

form#registerForm h2 {
    color: rgba(253, 161, 24, 0.7);
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: rgba(253, 161, 24, 0.7);
    margin-top: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid rgba(253, 161, 24, 0.7);
    border-radius: 5px;
}

button[type="submit"] {
    background-color: rgba(253, 161, 24, 0.7);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: rgba(253, 161, 24, 0.9);
}
